table{
    background-color: bisque;
    border-color: brown;
    margin-left: 380px;
    margin-top: 30px;
}
h2{
    margin-left: 370px;
    color: brown;
}
input{
    color: brown;

width: 400px;
margin-left: 25%;
}

button{
    color: brown;
}